<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" media="screen" href={{ url_for('static', filename='bootstrap.min.css') }}>

    <title>LaSalle Dance Center</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="#">The Dance Center</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarClassesdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Classes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarClassesdownMenuLink">
                        <a class="dropdown-item" href="#">Class Descriptions</a>
                        <a class="dropdown-item" href="#">Class Schedule</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Biography</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Summer Camps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Photos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-4">The Dance Center</h1>
        <p class="lead">127 Joliet Street La Salle, IL 61301</p>
        <hr class="my-4">
    </div>
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <p>
                    We welcome y ou to a lifetime filled with dance and music. For over 40 years the Dance Center has provided professional dance instruction for students ages 3 and up. The Instructors are Dance Educators of America Dance Master certified. From the recreational dancer to competitive dance, the Dance Center provides a fun and educational program. All classes operate on a low student to teacher ratio, ensuring your child a more personal dance experience. Classes run September through May, with dance camps and private lessons offered in the summer.

                    Our professionally produced Spring Recitals are every other year. We also perform a Holiday Show on opposite years to our recital. The Dance Center is involved in the Illinois Valley Symphony's production of the "Nutcracker" ballet, along with other community opportunities.

                    The Dance Center instructors and staff would love the opportunity to teach your child the poise, charm, and grace that they will gain along with the love and technique of dance. Please feel free to contact us for more information.
                </p>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>